
.wcDocker {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(204, 204, 204);
}

.wcPanelTab {
  cursor: default;
}

.wcGhost {
  cursor: default;
}

.wcDocker,
.wcPanelBackground {
  background-color: rgb(68, 68, 68);
}

.wcModalBlocker {
  background-color: rgba(0, 0, 0, 0.8);
}

.wcLoadingIcon {
  color: rgb(34, 34, 34);
}

.wcLoadingLabel {
  color: rgb(17, 17, 17);
}

.wcLoadingBackground {
  background-color: rgb(55, 55, 55);
}

.wcGhost {
  background-color: rgba(223, 221, 221, 0.82);
  border-radius: 6px;
}

.wcFrameEdge {
  background-color: rgb(94, 94, 94);
  border-color: rgb(94, 94, 94);
  border-width: 2;
  border-style: solid;
}

.wcSplitterBar.wcSplitterBarV:not(.wcSplitterBarStatic) {
  width: 2px;
}

.wcSplitterBar.wcSplitterBarH:not(.wcSplitterBarStatic) {
  height: 2px;
}

.wcSplitterBar.wcSplitterBarV:not(.wcSplitterBarStatic),
.wcSplitterBar.wcSplitterBarH:not(.wcSplitterBarStatic) {
  background-color: rgb(128, 128, 128);
  border-style: outset;
  border-width: 1px;
  border-color: rgb(169, 169, 169);
}

.wcSplitterBar.wcSplitterBarV.wcSplitterBarStatic {
  width: 0px;
}

.wcSplitterBar.wcSplitterBarH.wcSplitterBarStatic {
  height: 0px;
}

.wcSplitterBar.wcSplitterBarV.wcSplitterBarStatic,
.wcSplitterBar.wcSplitterBarH.wcSplitterBarStatic {
  background-color: rgb(128, 128, 128);
  border-style: outset;
  border-width: 1px;
  border-color: rgb(169, 169, 169);
}

.wcFrameFlasher {
  background-color: rgba(255, 255, 255, 0.247059);
}

.wcFrameShadower {
  background-color: rgba(255, 255, 255, 0.247059);
}

.wcFrameButton {
  width: 13px;
  height: 13px;
  font-size: 11px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(85, 85, 85);
  border-style: outset;
  border-width: 2px;
  border-color: rgb(68, 68, 68);
}

.wcFrameButton:hover,
.wcFrameButtonHover {
  width: 13px;
  height: 13px;
  font-size: 11px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(102, 102, 102);
  border-style: outset;
  border-width: 2px;
  border-color: rgb(68, 68, 68);
}

.wcFrameButton:active,
.wcFrameButtonActive {
  width: 13px;
  height: 13px;
  font-size: 11px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(85, 85, 85);
  border-style: inset;
  border-width: 2px;
  border-color: rgb(68, 68, 68);
}

.wcLayoutGridAlternate tr:nth-child(even),
.wcLayoutGridAltColor {
  background-color: rgba(200, 200, 200, 0.2) !important;
}

.wcLayoutGrid,
.wcLayoutGrid tr,
.wcLayoutGrid td {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(85, 85, 85);
}

.wcFrameTitleBar {
  height: 17px;
  background-color: rgb(85, 85, 85);
  cursor: default;
}

.wcFrameCenter {
  top: 17px;
}

.wcFrameTitle {
    /* padding-top: 3px; */
    font-size: 13px;
    font-weight: bold;
    color: rgb(49, 49, 49);
    background-color: rgb(128, 128, 128);
    font-weight: bold;
    text-align: center;
}

.wcPanelTab > div {
  margin-top: 0px;
}

.wcPanelTab {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(66, 69, 74);
  margin-top: 2px;
  margin-right: 1px;
  background-color: rgb(119, 119, 119);
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(66, 69, 74);
}

.wcPanelTab:hover > div,
.wcPanelTabHover > div {
  margin-top: 0px;
}

.wcPanelTab:hover,
.wcPanelTabHover {
  font-size: 12px;
  font-weight: 400;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(66, 69, 74);
  margin-top: 2px;
  margin-right: 1px;
  background-color: rgb(170, 170, 170);
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(66, 69, 74);
}

.wcPanelTabActive > div {
  margin-top: 0px;
}

.wcPanelTabActive {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(0, 0, 0);
  margin-top: 1px;
  margin-right: 1px;
  background-color: rgb(128, 128, 128);
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: rgb(0, 0, 0);
}

.wcPanelTabActive:hover > div,
.wcPanelTabActiveHover > div {
  margin-top: 0px;
}

.wcPanelTabActive:hover,
.wcPanelTabActiveHover {
  font-size: 12px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(0, 0, 0);
  margin-top: 1px;
  margin-right: 1px;
  background-color: rgb(204, 204, 204);
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: rgb(0, 0, 0);
}

.wcMenuList,
.context-menu-list {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(17, 17, 17);
}

.wcMenuSeparator,
.context-menu-separator {
  background-color: rgb(119, 119, 119);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(68, 68, 68);
}

.wcMenuList,
.wcMenuItem,
.context-menu-list,
.context-menu-item {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: rgb(0, 0, 0);
  background-color: rgb(68, 68, 68);
}

.wcMenuItemHover,
.wcMenuItem:hover,
.context-menu-item.hover {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: rgb(0, 0, 0);
  background-color: rgb(102, 102, 102);
}

.wcMenuItem.disabled,
.context-menu-item.disabled {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: rgb(51, 51, 51);
  background-color: rgb(68, 68, 68);
}

.wcScrollbar,
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.wcScrollbar,
::-webkit-scrollbar,
.wcScrollbarCorner,
::-webkit-scrollbar-corner {
  background-color: rgba(136, 136, 136, 0);
}

.wcScrollbarTrack,
::-webkit-scrollbar-track {
  border-width: 0px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
/*
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.498039);
  background-color: rgb(136, 136, 136);
*/
}
.wcScrollbarThumb, ::-webkit-scrollbar-thumb {
    border-width: 0px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 30px 0px rgba(193, 193, 193, 0.701961);
}
.wcScrollbarThumbHover,
.wcScrollBarThumb:hover,
::-webkit-scrollbar-thumb:hover {
  border-width: 0px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 30px 0px rgba(220, 220, 220, 0.701961);
}

.wcScrollbarThumbActive,
.wcScrollBarThumb:active,
::-webkit-scrollbar-thumb:active {
  border-width: 0px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 30px 0px rgba(250, 250, 250, 0.701961);
}

.wcInput,
input {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(0, 0, 0);
}

.wcSelect,
select {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(0, 0, 0);
}

.wcButton:focus,
button:focus {
  outline: 0;
}

.wcButton,
button {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(119, 119, 119);
  border-style: outset;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(119, 119, 119);
}

.wcButtonHover,
.wcButton:hover,
button:hover {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(153, 153, 153);
  border-style: outset;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(153, 153, 153);
}

.wcButtonActive,
.wcButton:active,
button:active {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(102, 102, 102);
  border-style: inset;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(102, 102, 102);
}

.wcButtonActive.wcButtonHover,
.wcButton:hover.wcButtonActive,
.wcButton:active.wcButtonHover,
.wcButton:active:hover,
button:active:hover {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(0, 0, 0);
  background-color: rgb(153, 153, 153);
  border-style: inset;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(153, 153, 153);
}

.wcButtonDisabled,
.wcButton.disabled,
button.disabled,
button:disabled {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 13.3333330154419px;
  color: rgb(85, 85, 85);
  background-color: rgb(102, 102, 102);
  border-style: outset;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(102, 102, 102);
}

.wcMobile .wcSplitterBar.wcSplitterBarV:not(.wcSplitterBarStatic) {
  width: 12px;
}

.wcMobile .wcSplitterBar.wcSplitterBarH:not(.wcSplitterBarStatic) {
  height: 12px;
}

.wcMobile .wcSplitterBar.wcSplitterBarV:not(.wcSplitterBarStatic),
.wcMobile .wcSplitterBar.wcSplitterBarH:not(.wcSplitterBarStatic) {
  border-width: 3px;
}

.wcMobile .wcFrameButton {
  width: 25px;
  height: 25px;
  font-size: 22px;
}

.wcMobile .wcFrameButton:hover,
.wcMobile .wcFrameButtonHover {
  width: 25px;
  height: 25px;
  font-size: 22px;
}

.wcMobile .wcFrameButton:active,
.wcMobile .wcFrameButtonActive {
  width: 25px;
  height: 25px;
  font-size: 22px;
}

.wcMobile .wcFrameTitleBar {
  cursor: default;
  height: 29px;
}

.wcMobile .wcFrameCenter {
  top: 29px;
}

.wcMobile .wcFrameTitle {
  font-size: 20px;
}

.wcMobile .wcPanelTab > div {
  margin-top: 4px;
}

.wcMobile .wcPanelTab {
  font-size: 14px;
  height: 29px;
}

.wcMobile .wcPanelTab:hover > div,
.wcMobile .wcPanelTabHover > div {
  margin-top: 4px;
}

.wcMobile .wcPanelTab:hover,
.wcMobile .wcPanelTabHover {
  font-size: 14px;
  height: 29px;
}

.wcMobile .wcPanelTabActive {
  font-size: 14px;
  height: 29px;
}

.wcMobile .wcPanelTabActive:hover > div,
.wcMobile .wcPanelTabActiveHover > div {
  margin-top: 4px;
}

.wcMobile .wcPanelTabActive:hover,
.wcMobile .wcPanelTabActiveHover {
  font-size: 14px;
  height: 29px;
}

.wcMobile .wcInput,
.wcMobile input {
  font-size: 22px;
}

.wcMobile .wcSelect,
.wcMobile select {
  font-size: 22px;
}

.wcMobile .wcButton,
.wcMobile button {
  font-size: 22px;
}

.wcMobile .wcButtonHover,
.wcMobile .wcButton:hover,
.wcMobile button:hover {
  font-size: 22px;
}

.wcMobile .wcButtonActive,
.wcMobile .wcButton:active,
.wcMobile button:active {
  font-size: 22px;
}

.wcMobile .wcButtonActive.wcButtonHover,
.wcMobile .wcButton:hover.wcButtonActive,
.wcMobile .wcButton:active.wcButtonHover,
.wcMobile .wcButton:active:hover,
.wcMobile button:active:hover {
  font-size: 22px;
}

.wcMobile .wcButtonDisabled,
.wcMobile .wcButton.disabled,
.wcMobile button.disabled,
.wcMobile button:disabled {
  font-size: 22px;
}


